Flask==1.0.2
python-dotenv==0.9.1
pymongo==3.7.2
flask-restful==0.3.6

# Dev
tinymongo==0.2.0

#Dependencias das dependencias
Click==7.0
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.0
Werkzeug==0.14.1
tinydb==3.11.1
tinydb-serialization==1.0.4
aniso8601==4.0.1
pytz==2018.7